.row {
	width: 100%;
	max-width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
	display: -ms-flexbox;
	display: flex;

	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

@mixin colItem($col) {
	width: ((100% * $col) / 12);
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
