@mixin radiusItem($radius: 4px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin radiusBorder($tl, $tr, $br, $bl) {
  -webkit-border-radius: $tl $tr $br $bl;
     -moz-border-radius: $tl $tr $br $bl;
      -ms-border-radius: $tl $tr $br $bl;
          border-radius: $tl $tr $br $bl;
}

@mixin opacityItem($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie);
}

@mixin shadowItem($left: 0, $top: 2px, $blur: 15px, $color: rgba(0, 0, 0, 0.2), $inset:"") {
	-webkit-box-shadow: $left $top $blur $color #{$inset};
	   -moz-box-shadow: $left $top $blur $color #{$inset};
	        box-shadow: $left $top $blur $color #{$inset};
}

@mixin animateItem($type: all, $time: 0.3s, $animation: ease-in-out) {
  -webkit-transition: $type $time $animation;
     -moz-transition: $type $time $animation;
      -ms-transition: $type $time $animation;
       -o-transition: $type $time $animation;
          transition: $type $time $animation;
}

@mixin shadowText($th: 1px, $tv: 1px, $tb: 1px, $tc: rgba(0, 0, 0, 0.2)) {
  text-shadow: $th $tv $tb $tc;
}

@mixin scaleItem($scale) {
  -moz-transform: scale($scale);
  -webkit-transform: scale($scale);
  -o-transform: scale($scale);
  -ms-transform: scale($scale);
  transform: scale($scale);
}