.button {
	display: inline-block;
	padding: 15px 70px 16px 30px;
	border: 2px solid $yellow;
	font-size: .875rem;
	font-weight: 600;
	line-height: 1;
	letter-spacing: 0.0875rem;
	text-transform: uppercase;
	text-decoration: none;
	color: $yellow;
	cursor: pointer;

	background-color: transparent;
	background-image: url(../images/ico-arrow.png);
	background-image: linear-gradient(transparent, transparent), url(../images/ico-arrow.svg);
	background-repeat: no-repeat;
	background-size: 15px 11px;
	background-position: 87% 16px;

	@include radiusItem(40px);
	@include animateItem;

	&:hover {
		text-decoration: none;
		color: darken($yellow, 27%);

		background-color: $yellow;
		background-image: url(../images/ico-arrow--dark.png);
		background-image: linear-gradient(transparent, transparent), url(../images/ico-arrow--dark.svg);
		background-size: 15px 11px;
		background-position: 90% 16px;

		@include shadowItem;
	}

	&:focus {
		outline: none;
	}
}