.wpcf7 {
	max-width: 570px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;

	&__wrapper {
		position: relative;

		&.is-active, 
		&.has-value {

			.wpcf7__input {
				outline: none;
				border-color: $yellow;

				&.wpcf7-not-valid {
					border-color: $red;
				}
			}

			label {
				top: -15px;
				font-size: .875em;
				color: $gray;
			}
		}
	}

	&__input {
		width: 100%;
		height: 35px;
		padding: 0;
		border-left: 0;
		border-top: 0;
		border-right: 0;
		color: $yellow;
		border-bottom: 1px solid darken($gray, 65%);
		background-color: transparent;

		&:focus {
			outline: none;
			border-color: $yellow;
		}
	}

	&__textarea {
		@extend .wpcf7__input;
		padding-top: 10px;
		height: 100px;
		resize: none;

		&:focus {
			outline: none;
			border-color: $yellow;
		}
	}

	.wpcf7-form-control-wrap {
		display: block;
		margin-bottom: 40px;
	}

	.wpcf7-not-valid-tip {
		display: block;
		margin-top: 5px;
		font-size: .875em;
		color: $red;
	}

	label {
		position: absolute;
		top: 5px;
		color: darken($gray, 30%);
		cursor: pointer;
		@include animateItem;
	}

	.invalid {

		label {
			top: -15px;
			font-size: .875em;
		}
	}

	.screen-reader-response {
		display: none;
	}

	.wpcf7-response-output {
		padding: 20px 45px;
		border: 1px solid transparent;
		font-weight: 600;
		text-align: center;
		line-height: 1;
		@include radiusItem(50px);

		&.wpcf7-mail-sent-ok {
			border-color: green;
			color: green;
		}

		&.wpcf7-validation-errors {
			border-color: $red;
			color: $red;
		}
	}

	p {
		text-align: right;
	}
}