.post {
	
	&__gallery {
		padding: 100px 0 80px;
		background-color: darken($white, 5%);
	}

	&__gallery-list {
		max-width: 780px;
		width: 100%;
		padding: 0 15px;
		margin: 0 auto;
		list-style: none;
	}

	&__gallery-item {
		position: relative;
		padding: 10px 0;
		margin: 10px 0;

		&:first-child {
			padding-top: 0;
			margin-top: 0;
		}
	}

	&__gallery-image {
		max-width: 560px;
		width: 100%;
		padding: 0;
		margin: 0;
		line-height: 1;
	}

	figure {
		padding: 0;
		margin: 0;
	}

	figcaption {
		position: absolute;
		padding: 30px 30px;
		width: 280px;
		top: 45px;
		right: 0;
		z-index: 2;
		color: darken($yellow, 35%);
		background-color: $yellow;
		@include shadowItem(0, 0, 20px, 0, rgba(127, 106, 20, 0.5))
	}
}