.header {
	background-size: cover;
}

.hero {
	@extend .row;
	padding-bottom: 120px;
	color: $white;

	&__title {
		max-width: 780px;
		padding: 245px 0 0;
		margin: 0;
		font-size: 5.275rem;
		font-weight: 100;
		letter-spacing: 0.175rem;
		line-height: 1.145;

		&:after {
			display: block;
			position: relative;
			content: '';
			width: 170px;
			height: 2px;
			margin-top: 55px;
			margin-bottom: 30px;
			background-color: $yellow;
		}
	}

	&__typing {
		font-weight: 900;
		letter-spacing: 0rem;
		color: $yellow;
	}

	&__block {
		display: block;
	}

	p {
		max-width: 780px;
		color: darken($gray, 40%);
	}

	@media (max-width: 991px) {
		padding-bottom: 80px;

		&__title {
			font-size: 3.675rem;
		}
	}

	@media (max-width: 599px) {
		
		&__title {
			font-size: 2.475rem;
		}
	}

	@media (max-width: 449px) {

		&__title {
			font-size: 1.75rem;
		}	
	}
}