.nav {
	position: fixed;
	width: 100%;
	height: 80px;
	padding-top: 20px;
	padding-bottom: 20px;
	z-index: 4;
	@include animateItem;

	&.is-active {
		border-bottom: 1px solid rgba(0,0,0,0.3);
		background-color: rgba(0,0,0,0.4);
		-webkit-backdrop-filter: blur(3px);
		backdrop-filter: blur(3px);
		@include shadowItem;
	}

	&__wrapper {
		@extend .row;
	}

	&__logo {
		display: block;
		width: 40px;
		height: 40px;
		padding: 0;
		margin: 0 0 0 -6px;
		line-height: 1;
		overflow: hidden;
		text-indent: -1000px;
		background-image: url(../images/logo-thiago-paim.png);
		background-image: linear-gradient(transparent, transparent), url(../images/logo-thiago-paim.svg);
		background-size: 40px;
		background-repeat: no-repeat;
	}

	&__menu {
		padding: 0;
		margin: 0 0 0 auto;
		list-style: none;
	}

	&__item {
		display: inline;

		&:after {
			display: inline-block;
			content: '/';
			color: $gray;
			opacity: .5;
		}

		&:last-child {

			&:after {
				display: none;
			}
		}
	}

	&__link {
		display: inline-block;
		position: relative;
		padding: 10px 0;
		margin: 0 15px;
		font-weight: 900;
		text-decoration: none;
		text-transform: uppercase;
		color: $gray;
		@include animateItem;

		&:hover {
			color: $yellow;
			text-decoration: none;
		}

		&:focus {
			outline: none;
		}

		&:before {
			display: block;
			position: absolute;
			content: '';
			width: 0%;
			height: 2px;
			bottom: 0;
			background-color: tranparent;
			@include animateItem;
		}

		&.is-active {
			color: $yellow;

			&:before {
				width: 100%;
				background-color: $yellow;
			}
		}
	}

	@media (max-width: 599px) {
		height: 70px;

		&__logo {
			width: 30px;
			height: 30px;
			margin: 0 0 0 -4px;
			background-size: 30px;
		}

		&__link {
			padding: 7px 0;
			font-size: .875rem;
		}
	}

	@media (max-width: 579px) {
		height: 95px;

		&__logo {
			width: 100%;
			margin: 0 0 15px 0;
			background-position: center;
		}

		&__menu {
			width: 100%;
			margin: 0;
			text-align: center;
		}

		&__item {
			display: inline-block;
		}

		&__link {
			margin: 0 5px;

			&.is-active {

				&:before {
					height: 1px;
				}
			}
		}
	}
}

// projects active menu allways on
.single-projetos {

	.nav__item {

		&:nth-child(2) {
			
			.nav__link {
				color: $yellow;

				&:before {
					display: block;
					position: absolute;
					content: '';
					width: 100%;
					height: 2px;
					bottom: 0;
					background-color: $yellow;
				}
			}
		}
	}
}