.area {

	&.related {
		background-color: darken($white, 20%);

		.area__post {
			@include colItem(4);
		}

		.area__post-title {
			font-size: 1.275rem;
		}

		@media (max-width: 767px) {

			.area__post {

				&:nth-child(1) {
					@include colItem(12)
				}

				&:nth-child(2),
				&:nth-child(3) {
					@include colItem(6)
				}
			}
		}

		@media (max-width: 519px) {

			.area__post {

				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3) {
					@include colItem(12)
				}
			}
		}
	}
}