.post {

	&__tasks {
		padding: 120px 0 45px;
		background-color: $white;
	}

	&__wrapper--task {
		max-width: 780px;
		padding: 0 15px;
		margin: 0 auto;
	}

	&__task-list {
		padding: 0;
		margin: 0 0 80px;
		list-style: none;
		text-align: center;
	}

	&__task-item {
		display: inline-block;
		position: relative;
		width: 95px;
		padding: 0;
		margin: 0 20px;
		font-size: .675rem;
		font-weight: 600;
		line-height: 1.275;
		text-transform: uppercase;
		color: lighten($black, 50%);

		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 100px;
			height: 100px;
			margin: -22px 0 0 -52px;
			left: 50%;
			background-color: darken($gray, 5%);
			z-index: 1;
			@include radiusItem(50px);
		}
	}

	&__task-icon {
		display: block;
		position: relative;
		width: 100%;
		height: 55px;
		margin-bottom: 40px;
		background-repeat: no-repeat;
		background-size: 55px;
		z-index: 2;
	}

	&__task-item--01 .post__task-icon {
		background-image: url(../images/ico-ai.png);
		background-image: linear-gradient(transparent, transparent), url(../images/ico-ai.svg);
		background-position: center;
	}

	&__task-item--02 .post__task-icon {
		background-image: url(../images/ico-design.png);
		background-image: linear-gradient(transparent, transparent), url(../images/ico-design.svg);
		background-position: center;
	}

	&__task-item--03 .post__task-icon {
		background-image: url(../images/ico-front.png);
		background-image: linear-gradient(transparent, transparent), url(../images/ico-front.svg);
		background-position: center;
	}

	@media (max-width: 991px) {

		&__text {
			width: 100%;
		}
	}

	@media (max-width: 767px) {

		&__wrapper {
			height: 820px;
		}

		&__meta {
			position: relative;
			top: -15px;
			font-size: 7rem;
		}

		&__title {
			font-size: 3.275rem;
		}
	}

	@media (max-width: 595px) {

		&__task-item {
			width: 85px;
			margin: 0 10px;
			font-size: .575rem;
		
			&:before {
				width: 80px;
				height: 80px;
				margin: -11px 0 0 -41px;
			}
		}

		&__task-icon {
			background-size: 40px;
		}
	}
}