img {
	display: block;
	max-width: 100%;
	height: auto;
}

.align-left {
	margin: 5px 0 5px 15px;
	float: left;
}

.align-left {
	margin: 5px 15px 5px 0;
	float: left;
}

.align-center {
	margin: 15px auto;
}

.align-none {
	margin: 0;
}