@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,600,900');

@font-face {
	font-family: 'Fusterd';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/fusterd_brush-webfont.woff2') format('woff2'),
		 url('../fonts/fusterd_brush-webfont.woff') format('woff'),
		 url('../fonts/fusterd_brush-webfont.ttf') format('truetype');
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	font-weight: 300;
	color: $black;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

p {
	margin: 0 0 35px;
	font-size: 1rem;
	line-height: 1.75;
	letter-spacing: 0.075em;
}

a {
	font-weight: 600;
	letter-spacing: -0.0145rem;
	text-decoration: none;
	color: darken($yellow, 10%);

	&:hover {
		text-decoration: underline;
	}
}