.footer {
	padding: 30px 0;
	background-color: darken($black, 5%);

	&__paragraph {
		width: 25px;
		height: 25px;
		padding: 0;
		margin: 0 auto;
		text-indent: -100px;
		line-height: 1;
		overflow: hidden;
		opacity: 0.03;
		background-image: url(../images/logo-thiago-paim.png);
		background-image: linear-gradient(transparent, transparent), url(../images/logo-thiago-paim.svg);
		background-size: 25px;
	}
}