.area {

	&__post {
		display: block;
		position: relative;
		height: 360px;
		overflow: hidden;
		background-size: cover;
		background-position: center;
		@include animateItem;

		&:nth-child(1) {
			@include colItem(8);
		}

		&:nth-child(2) {
			@include colItem(4);
		}

		&:nth-child(3) {
			@include colItem(4);
		}

		&:nth-child(4) {
			@include colItem(8);
		}

		&:nth-child(5),
		&:nth-child(6),
		&:nth-child(7),
		&:nth-child(8) {
			@include colItem(3);
			height: 270px;

			.area__post-text {
				bottom: 10px;
				z-index: 2;

				&:before {
					height: 45px;
				}
			}

			.area__post-title {
				font-size: 1rem;
			}
		}

		.overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: .1;
			z-index: 2;
			background-color: darken($black, 20%);
			@include animateItem;
		}

		&:hover {

			.overlay {
				background-color: $yellow;
			}

			.area__post-text {

				&:before {
					width: 100%;
					// @include radiusBorder(0, 4px, 4px, 0);
					// @include shadowItem(0, 0, 15px, $yellow);
				}
			}

			.area__post-meta {
				color: darken($yellow, 25%);
			}
		}
	}

	&__post-image {
		max-width: 100%;
		padding: 0;
		margin: 0;
		line-height: 1;
	}

	&__post-text {
		position: absolute;
		padding: 15px 15px 15px 20px;
		bottom: 20px;
		z-index: 2;

		&:before {
			position: absolute;
			content: '';
			width: 3px;
			height: 53px;
			top: 11px;
			left: 5px;
			background-color: $yellow;
			@include animateItem;
		}
	}

	&__post-meta {
		position: relative;
		text-transform: uppercase;
		font-size: .75rem;
		font-weight: 400;
		color: $yellow;
		z-index: 3;
		@include animateItem;
	}

	&__post-title {
		position: relative;
		margin: 0;
		line-height: 1;
		color: $gray;
		z-index: 3;
		@include shadowText;
	}

	@media (max-width: 991px) {

		&__post {

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7),
			&:nth-child(8) {
				@include colItem(4);
				height: 270px;

				.area__post-title {
					font-size: 1rem;
				}

				.area__post-text {

					&:before {
						height: 45px;
						top: 11px;
						left: 5px;
					}
				}
			}
		}
	}

	@media (max-width: 819px) {

		&__post {

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7),
			&:nth-child(8) {
				@include colItem(6);
				height: 270px;

				.area__post-title {
					font-size: 1rem;
				}

				.area__post-text {

					&:before {
						height: 45px;
						top: 11px;
						left: 5px;
					}
				}
			}
		}
	}

	@media (max-width: 545px) {

		&__post {

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7),
			&:nth-child(8) {
				@include colItem(12);
				height: 320px;

				.area__post-title {
					font-size: 1rem;
				}

				.area__post-text {

					&:before {
						height: 45px;
						top: 11px;
						left: 5px;
					}
				}
			}
		}
	}
}