.area {
	padding: 145px 0;

	&__wrapper {
		@extend .row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;

		&--about {
			width: 100%;
			max-width: 720px;
			margin: 0 auto;
		}
	}

	&__title {
		position: relative;
		width: 200px;
		margin: 0 auto 170px;
		font-size: .945rem;
		font-weight: 600;
		text-transform: uppercase;
		color: $gray;
		text-align: center;

		span {
			display: block;
			position: absolute;
			margin: -100px 0 0 -45px;
			font-family: 'Fusterd';
			font-size: 15rem;
			font-weight: normal;
			letter-spacing: -0.2rem;
			text-transform: capitalize;
			color: $yellow;
			@include shadowText;
		}
	}

	&.projects {
		background-color: $white;

		.area__title {
			text-indent: -90px;
			color: $yellow;

			span {
				margin-top: -95px;
				margin-left: 15px;
				color: $black;
			}
		}
	}

	&.related {

		.area__title {
			text-indent: -90px;
			color: $white;

			span {
				margin-top: -95px;
				margin-left: 15px;
				color: $black;
			}
		}
	}

	&.about {
		background-color: $gray;

		.area__title {
			// text-indent: -50px;
			color: $yellow;

			span {
				margin-top: -105px;
				margin-left: -15px;
				color: $black;
			}
		}
	}

	&.contact {
		padding-bottom: 60px;

		.area__title {
			text-indent: -10px;
		}
	}

	@media (max-width: 991px) {

		&__title {
			margin-bottom: 130px;

			span {
				font-size: 10rem;
			}
		}

		&.projects,
		&.related {

			.area__title {
				text-indent: -50px;

				span {
					margin-top: -60px;
					margin-left: 30px;
				}
			}
		}

		&.about {

			.area__title {
				text-indent: 0;

				span {
					margin-top: -60px;
					margin-left: 10px;
				}
			}
		}

		&.contact {

			.area__title {
				text-indent: 0;

				span {
					margin-top: -50px;
					margin-left: -10px;
				}
			}
		}
	}

	@media (max-width: 545px) {

		&__title {

			span {
				font-size: 8rem;
			}
		}

		&.projects,
		&.related {

			.area__title {
				text-indent: 0;

				span {
					margin-top: -40px;
					margin-left: 10px;
				}
			}
		}

		&.about {

			.area__title {
				text-indent: 0;

				span {
					margin-top: -45px;
					margin-left: 30px;
				}
			}
		}

		&.contact {

			.area__title {
				text-indent: 0;

				span {
					margin-top: -40px;
					margin-left: 10px;
				}
			}
		}
	}
}