.post {

	&__header {
		width: 100%;
		padding: 0;
		background-position: center;
		background-size: cover;
	}

	&__wrapper {
		@extend .row;
		position: relative;
		height: 780px;
	}

	&__text {
		@include colItem(7);
		position: absolute;
		bottom: 100px;
		right: 0;
		color: $gray;
	}

	&__meta {
		position: relative;
		margin-left: -5px;
		font-family: 'Fusterd';
		font-size: 9.45rem;
		line-height: 1;
		color: $yellow;
		z-index: 1;
		@include shadowText;
	}

	&__title {
		position: relative;
		max-width: 520px;
		margin: -60px 0 45px;
		font-size: 4.675rem;
		line-height: 0.875;
	}

	&__paragraph {
		display: block;
		font-size: 1.275rem;
	}

	@media (max-width: 991px) {

		&__text {
			width: 100%;
		}

		&__title {
			max-width: 100%;
		}
	}

	@media (max-width: 767px) {

		&__meta {
			font-size: 6rem;
		}

		&__title {
			font-size: 3.45rem;
		}
	}

	@media (max-width: 579px) {

		&__meta {
			top: -35px;
			font-size: 4.45rem;
		}

		&__title {
			font-size: 2.45rem;
		}	

		&__paragraph {
			font-size: 1rem;
		}

		.button {
			width: 100%;
		}
	}
}